.home-card {
    height: 100%;
    height: auto;
    background-color: aqua;
    background-image: url('../imgs/ict_in_schools_01b.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.home-about {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-bosh-card {
    background: linear-gradient(white, rgb(146, 144, 144));
    width: 50px;
    height: 50px;
    padding: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.img-bosh-card .home-bosh {
    width: 100px;
}

.home-title {
    width: 60%;
    text-align: center;
    font-size: 26px;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
}

.home-title-about {
    width: 70%;
    height: auto;
    font-size: 15px;
    text-align: center;
    color: rgb(220, 217, 217);
    margin-top: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}

.home-about-btn {
    background: none;
    color: white;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 1px;
    transition: 0.3s;
}

.home-about-btn:hover {
    background: linear-gradient(white, rgb(159, 158, 158));
    color: black;
}
