@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.app {
  width: 100%;
  height: auto;
}

.home-header {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.home-header ul {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 50px;
  gap: 20px;
}

.home-header ul li {
  position: relative;
  height: 40px;
}

.li-span{
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 0.3s;
  gap: 5px;
}

.home-header ul li .li-span:hover .home-line {
  width: 100%;
}

.home-header ul li .header-modul {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  border-radius: 2px;
  transition: 0.3s;
  height: 0;
  overflow: hidden;
  background-color: white;
  width: 120px;
  position: absolute;
}

.header-modul > span {
  height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.li-span .home-line {
  width: 0px;
  height: 3px;
  background-color: red;
  transition: 0.3s;
}

.home-header ul .moduls:hover .header-modul {
  height: 246px;
}

.header-modul > span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Footer */
.home-footer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-title-card {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: rgb(208, 205, 205);
  font-size: 20px;
  width: 400px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.footer-share-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-share-title {
  text-transform: uppercase;
  color: rgb(208, 205, 205);
}

.footer-share-urls {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: rgb(178, 175, 175) !important;
  font-size: 18px !important;
}

.footer-share-urls > i {
  margin-top: 4px;
}